:root {
  --gray-white: #FFF;
  --gray-50: #F3F4F5;
  --gray-100: #E3E4E6;
  --gray-200: #C6C8CB;
  --gray-300: #AAADB1;
  --gray-400: #909398;
  --gray-500: #74787D;
  --gray-600: #5B5E63;
  --gray-700: #434549;
  --gray-800: #2F3133;
  --gray-850: #202124;
  --gray-900: #16171A;
  --primary-50: #E6F2FF;
  --primary-100: #CCE5FF;
  --primary-200: #99CAFF;
  --primary-300: #66B0FF;
  --primary-400: #3395FF;
  --primary-500: #007BFF;
  --primary-600: #0062CC;
  --primary-700: #0062CC;
  --primary-800: #003166;
  --primary-850: #00254C;
  --primary-900: #001933;
  --secondary-50: #FFF0E6;
  --secondary-100: #FFE2CC;
  --secondary-200: #FFC499;
  --secondary-300: #FFA766;
  --secondary-400: #FF8933;
  --secondary-500: #FF6C00;
  --secondary-600: #CC5600;
  --secondary-700: #994100;
  --secondary-800: #662B00;
  --secondary-850: #4C2000;
  --secondary-900: #331600;
  --green-50: #E6F5EB;
  --green-100: #CCEBD6;
  --green-200: #99D6AD;
  --green-300: #66C285;
  --green-400: #33AD5C;
  --green-500: #009933;
  --green-600: #007A29;
  --green-700: #005C1F;
  --green-800: #003D14;
  --green-850: #002E0F;
  --green-900: #001F0A;
  --orange-50: #FCF2E6;
  --orange-100: #FAE4CC;
  --orange-200: #F5CA99;
  --orange-300: #EFAF66;
  --orange-400: #EA9533;
  --orange-500: #E57A00;
  --orange-600: #B76200;
  --orange-700: #894900;
  --orange-800: #5C3100;
  --orange-850: #452500;
  --orange-900: #2E1800;
  --red-50: #FAEBEB;
  --red-100: #F5D6D6;
  --red-200: #EAAEAE;
  --red-300: #E08585;
  --red-400: #D55D5D;
  --red-500: #C73333;
  --red-600: #A22A2A;
  --red-700: #7A1F1F;
  --red-800: #511515;
  --red-850: #3D1010;
  --red-900: #290A0A;
}

@font-face {
    font-family: 'switzer';
    font-weight: 300;
    src: url('/public/frontend/assets/fonts/Switzer-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'switzer';
    font-weight: 400;
    src: url('/public/frontend/assets/fonts/Switzer-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'switzer';
    font-weight: 500;
    src: url('/public/frontend/assets/fonts/Switzer-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'switzer';
    font-weight: 600;
    src: url('/public/frontend/assets/fonts/Switzer-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'switzer';
    font-weight: 700;
    src: url('/public/frontend/assets/fonts/Switzer-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html, body{
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-family: 'switzer', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer utilities{
    .company-settings-active-link{
        @apply bg-primary-50 border-l-primary-500
    }
    .active-tab{
        @apply bg-white border-white  text-primary-500
    }
    .display-01{
        @apply text-[4rem] md:text-[4.3rem] lg:text-[4.5rem] font-bold tracking-[-0.09rem];
    }
    .display-02{
        @apply text-[3.5rem] leading-[100%] md:text-[3.7rem] lg:text-[4rem] font-bold tracking-[-0.08rem];
    }
    .heading-01{
        @apply text-[2.5rem] md:text-[2.7rem] lg:text-[3rem] font-bold tracking-[-0.06rem];
    }
    .heading-02{
        @apply text-[2rem] md:text-[2.2rem] lg:text-[2.5rem] font-bold tracking-[-0.05rem];
    }
    .heading-03{
        @apply text-[1.8rem] md:text-[2rem] lg:text-[2.25rem] font-bold tracking-[-0.045rem];
    }
    .heading-04{
        @apply text-[1.6rem] md:text-[1.8rem] lg:text-[2rem] font-bold tracking-[-0.04rem];
    }
    .heading-05{
        @apply text-[1.3rem] md:text-[1.2rem] lg:text-[1.5rem] font-bold tracking-[-0.03rem];
    }
    .heading-06{
        @apply text-[1rem] md:text-[1.1rem] lg:text-[1.25rem] font-bold tracking-[-0.02rem];
    }
    .heading-07{
        @apply text-[1rem] font-bold tracking-[-0.015rem];
    }
    .caption-01{
        @apply text-[1rem] font-semibold tracking-[-0.015rem] uppercase;
    }
    .caption-02{
        @apply text-[0.875rem] font-semibold tracking-[-0.013rem] uppercase;
    }
    .caption-03{
        @apply text-[0.75rem] font-semibold tracking-[-0.011rem] uppercase;
    }
    .links-url-large{
        @apply text-[1.11rem] md:text-[1.12rem] lg:text-[1.125rem] font-semibold tracking-[-0.0225rem] uppercase;
    }
    .links-url-base{
        @apply text-[1rem] font-semibold tracking-[-0.02rem] uppercase;
    }
    .links-url-small{
        @apply text-[0.875rem] font-semibold tracking-[-0.0175rem] uppercase;
    }
    .links-url-xs{
        @apply text-[0.75rem] font-semibold tracking-[-0.015rem] uppercase;
    }
    .body-xxl-400{
        @apply text-[1.3rem] md:text-[1.5rem] font-normal;
    }
    .body-xxl-500{
        @apply text-[1.3rem] md:text-[1.5rem] font-medium;
    }
    .body-xxl-600{
        @apply text-[1.3rem] md:text-[1.5rem] font-semibold;
    }
    .body-xl-400{
        @apply text-[1.2rem] md:text-[1.25rem] font-normal;
    }
    .body-xl-500{
        @apply text-[1.2rem] md:text-[1.25rem] font-medium;
    }
    .body-xl-600{
        @apply text-[1.2rem] md:text-[1.25rem] font-semibold;
    }
    .body-large-400{
        @apply text-[1.1rem] md:text-[1.125rem] font-normal;
    }
    .body-large-500{
        @apply text-[1.1rem] md:text-[1.125rem] font-medium;
    }
    .body-large-600{
        @apply text-[1.1rem] md:text-[1.125rem] font-semibold;
    }
    .body-base-400{
        @apply text-[1rem] font-normal;
    }
    .body-base-500{
        @apply text-[1rem] font-medium;
    }
    .body-base-600{
        @apply text-[1rem] font-semibold;
    }
    .body-small-400{
        @apply text-[0.875rem] font-normal;
    }
    .body-small-500{
        @apply text-[0.875rem] font-medium;
    }
    .body-small-600{
        @apply text-[0.875rem] font-semibold;
    }
    .body-xs-400{
        @apply text-[0.75rem] font-normal;
    }
    .body-xs-500{
        @apply text-[0.75rem] font-medium;
    }
    .body-xs-600{
        @apply text-[0.75rem] font-semibold;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .testimonialSlider .swiper-pagination{
        @apply text-left bottom-0
    }
    .testimonialSlider  .swiper-pagination-bullet {
        @apply w-[0.75rem] h-[0.75rem] opacity-50 border-2 border-primary-500 bg-transparent;
      }

    .testimonialSlider .swiper-pagination-bullet-active {
        @apply bg-primary-500 border border-primary-500 opacity-100;
      }
}

@layer components{
    .tabs-card{
       @apply rounded-[1rem] border border-gray-100 shadow-gray-base-2 overflow-hidden
    }

    /* large badges */
    .badge-gray-transparent{
        @apply body-small-500 text-gray-800 py-[0.25rem] px-[0.62rem] rounded-md bg-gray-50 inline-flex items-center justify-center
    }
    .badge-gray-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-gray-700 inline-flex items-center justify-center
    }
    .badge-primary-transparent{
        @apply body-small-500 text-primary-700 py-[0.25rem] px-[0.62rem] rounded-md bg-primary-50 inline-flex items-center justify-center
    }
    .badge-primary-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-primary-500 inline-flex items-center justify-center
    }
    .badge-secondary-transparent{
        @apply body-small-500 text-secondary-700 py-[0.25rem] px-[0.62rem] rounded-md bg-secondary-50 inline-flex items-center justify-center
    }
    .badge-secondary-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-secondary-500 inline-flex items-center justify-center
    }
    .badge-green-transparent{
        @apply body-small-500 text-green-700 py-[0.25rem] px-[0.62rem] rounded-md bg-green-50 inline-flex items-center justify-center
    }
    .badge-green-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-green-500 inline-flex items-center justify-center
    }
    .badge-secondary-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-green-500 inline-flex items-center justify-center
    }
    .badge-orange-transparent{
        @apply body-small-500 text-orange-700 py-[0.25rem] px-[0.62rem] rounded-md bg-orange-50 inline-flex items-center justify-center
    }
    .badge-orange-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-orange-500 inline-flex items-center justify-center
    }
    .badge-red-transparent{
        @apply body-small-500 text-red-700 py-[0.25rem] px-[0.62rem] rounded-md bg-red-50 inline-flex items-center justify-center
    }
    .badge-red-fill{
        @apply body-small-500 text-gray-white py-[0.25rem] px-[0.62rem] rounded-md bg-red-500 inline-flex items-center justify-center
    }

    /* small badges */
    .badge-sm-gray-transparent{
        @apply body-xs-500 text-gray-800 py-[0.25rem] px-[0.5rem] rounded-md bg-gray-50 inline-flex items-center justify-center
    }
    .badge-sm-gray-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-gray-700 inline-flex items-center justify-center
    }
    .badge-sm-primary-transparent{
        @apply body-xs-500 text-primary-700 py-[0.25rem] px-[0.5rem] rounded-md bg-primary-50 inline-flex items-center justify-center
    }
    .badge-sm-primary-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-primary-500 inline-flex items-center justify-center
    }
    .badge-sm-secondary-transparent{
        @apply body-xs-500 text-secondary-700 py-[0.25rem] px-[0.5rem] rounded-md bg-secondary-50 inline-flex items-center justify-center
    }
    .badge-sm-secondary-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-secondary-500 inline-flex items-center justify-center
    }
    .badge-sm-green-transparent{
        @apply body-xs-500 text-green-700 py-[0.25rem] px-[0.5rem] rounded-md bg-green-50 inline-flex items-center justify-center
    }
    .badge-sm-secondary-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-green-500 inline-flex items-center justify-center
    }
    .badge-sm-orange-transparent{
        @apply body-xs-500 text-orange-700 py-[0.25rem] px-[0.5rem] rounded-md bg-orange-50 inline-flex items-center justify-center
    }
    .badge-sm-orange-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-orange-500 inline-flex items-center justify-center
    }
    .badge-sm-red-transparent{
        @apply body-xs-500 text-red-700 py-[0.25rem] px-[0.5rem] rounded-md bg-red-50 inline-flex items-center justify-center
    }
    .badge-sm-red-fill{
        @apply body-xs-500 text-gray-white py-[0.25rem] px-[0.5rem] rounded-md bg-red-500 inline-flex items-center justify-center
    }
    .badge-check:has(input:checked) {
        @apply bg-primary-500 shadow-primary-base-1 border-primary-700 text-white;
    }
    .badge-link{
        @apply rounded-[6px] bg-gray-50 p-[4px_10px] body-small-500 text-gray-800 transition duration-200 ease-linear hover:bg-primary-500 hover:text-gray-white
    }

    /* buttons */
    .btn-label-danger{
        @apply body-base-500 text-red-500 hover:text-red-600 transition duration-200 ease-linear inline-flex items-center justify-center gap-2;
    }
    .btn-secondary {
        @apply py-2.5 px-4 heading-07 inline-flex gap-2 items-center text-white rounded-lg bg-secondary-500 hover:bg-secondary-700 transition-all duration-300;
    }
    .btn-white {
        @apply py-2.5 px-4 heading-07 inline-flex gap-2 items-center text-gray-700 border border-gray-100 hover:border-gray-200 transition-all duration-300 shadow-gray-base-2 hover:shadow-gray-base-3 bg-white hover:bg-gray-50 rounded-lg;
    }
    .btn-dark{
        @apply py-[0.62rem] px-[1rem] heading-07 text-gray-white rounded-[0.5rem] inline-flex items-center justify-center hover:bg-gray-900 bg-gray-700 transition-all duration-200 ease-in-out
    }
    .btn-primary{
        @apply py-[0.62rem] px-[1rem] heading-07 text-gray-white rounded-[0.5rem] inline-flex gap-2 items-center justify-center hover:bg-primary-700 bg-primary-500 transition-all duration-200 ease-in-out
    }
    .btn-white-dark{
        @apply py-[0.62rem] px-[1rem] heading-07 shadow-gray-base-2 bg-gray-white border border-gray-100 rounded-lg inline-flex items-center justify-center text-gray-700 hover:bg-gray-50 hover:text-gray-900 transition-all duration-200 ease-in-out
    }
    .btn-white-primary{
        @apply py-[0.62rem] px-[1rem] heading-07 shadow-gray-base-2 bg-gray-white border border-gray-100 hover:border-primary-200 rounded-lg inline-flex items-center justify-center gap-2 text-primary-500 hover:bg-primary-50 hover:text-primary-700 transition-all duration-200 ease-in-out
    }
    .btn-white-secondary{
        @apply py-[0.62rem] px-[1rem] heading-07 shadow-gray-base-2 bg-gray-white border border-gray-100 hover:border-secondary-200 rounded-lg inline-flex items-center justify-center text-secondary-500 hover:bg-secondary-50 hover:text-secondary-700 transition-all duration-200 ease-in-out
    }
    .btn-dark-transparent{
        @apply py-[0.62rem] px-[1rem] heading-07 bg-gray-50 text-gray-700 rounded-lg inline-flex items-center justify-center transition-all duration-200 ease-in-out hover:bg-gray-100 hover:text-gray-700
    }
    .btn-primary-transparent{
        @apply py-[0.62rem] px-[1rem] heading-07 bg-primary-50 border border-transparent text-primary-500 rounded-lg inline-flex items-center justify-center transition-all duration-200 ease-in-out hover:bg-primary-100 hover:text-primary-700 hover:border hover:border-primary-100
    }
    .btn-secondary-transparent{
        @apply py-[0.62rem] px-[1rem] heading-07 bg-secondary-50 text-secondary-500 rounded-lg inline-flex items-center justify-center transition-all duration-200 ease-in-out  hover:text-secondary-700 hover:border hover:border-secondary-100
    }
    .btn-text-dark{
        @apply inline-flex items-center gap-2 heading-07 text-gray-700 transition-all duration-200 ease-in-out hover:text-gray-900
    }
    .btn-text-dark-transparent {
      @apply inline-flex gap-2 heading-07 text-gray-500 transition-all duration-200 ease-in-out hover:text-gray-900
    }
    .btn-text-primary{
        @apply inline-flex items-center gap-2 heading-07 text-primary-500 transition-all duration-200 ease-in-out hover:text-primary-700
    }
    .btn-text-secondary {
      @apply inline-flex gap-2 heading-07 text-secondary-500 transition-all duration-200 ease-in-out hover:text-secondary-700
    }
    .btn-label-primary{
        @apply bg-primary-500 text-gray-white hover:bg-primary-700 transition duration-200 ease-linear px-4 py-[0.62rem] heading-07 capitalize rounded-lg inline-flex items-center justify-center gap-2
    }
    .icon-btn-white{
        @apply w-11 h-11 gap-2 p-[0.62rem] text-gray-700 border border-gray-100 shadow-gray-base-2 bg-gray-white rounded-[0.5rem] inline-flex items-center justify-center hover:border-gray-200 hover:shadow-gray-base-3 hover:bg-gray-50 transition-all duration-200 ease-in-out
    }
    .top-menu__link {
      @apply whitespace-nowrap px-3 pt-2.5 pb-3 body-small-500 text-gray-600 hover:text-gray-900 inline-flex border-t-2 border-t-transparent hover:border-t-primary-500 hover:bg-primary-50 transition-all duration-300;
    }
    .top-menu__link.active {
      @apply bg-primary-50 border-t-primary-500 text-gray-900;
    }
    .user-menu__link {
      @apply whitespace-nowrap px-2 py-2 md:px-5 md:pb-2.5 md:pt-3 body-base-600 text-gray-600 hover:text-gray-900 inline-flex border-b-2 border-b-transparent hover:border-b-primary-500 hover:bg-primary-50 transition-all duration-300;
    }
    .user-menu__link.active {
      @apply bg-primary-50 border-b-primary-500 text-gray-900;
    }
    .notification-list.unread {
        @apply bg-red-50;
    }
    .responsive-menu.active {
        transform: translateX(0) !important;
    }
    .responsive-overlay.active {
        visibility: visible !important;
    }
    .section-title {
        @apply heading-01 text-gray-900;
    }
    .section-text {
        @apply body-xl-400 text-gray-700 max-w-[766px] w-full mx-auto;
    }
    .footer-link {
        @apply py-2 inline-flex body-base-500 text-gray-400 hover:text-white transition-all duration-300 relative after:transition-all after:duration-300 after:inline-block after:bg-white after:w-3 after:h-0.5 after:absolute after:left-full after:ml-2 after:invisible hover:after:visible hover:after:translate-x-0 after:-translate-x-full after:top-1/2 after:-translate-y-1/2;
    }
    .bg-linear {
        background: linear-gradient(0deg, #E6F0FA 0%, #F3F5F5 0.01%, rgba(243, 245, 245, 0.00) 63.07%);
    }
    .float {
        animation: float 3s ease-in-out infinite;
    }
}

[x-cloak] { display: none !important; }


@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* global select-2 style */
.select2-container {
    @apply !w-full
}
.select2-container--default .select2-selection--single{
   @apply h-auto shadow-gray-base-1 border border-gray-100 rounded-lg transition duration-200 ease-linear hover:border-primary-500
}
.select2-container .select2-selection--single .select2-selection__rendered{
    @apply leading-[40px]
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 50%;
    transform: translateY(-50%);
}

/* global select-2 style */

div[drawer-backdrop],
div[drawer-backdrop] {
  background: rgba(0, 0, 0, 0.5) !important;
}
body:has(div[drawer-backdrop]) div[modal-backdrop] {
  z-index: 35 !important;
}

/* s */
